{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}



  <br><br>
  <div class="container d-flex justify-content-center">
    <form method="POST" class="form-floating">
        <div class="justify-content-md-center mx-auto">
          <label for="domain" class="d-flex justify-content-center">Domain</label>
          <input
            type="text"
            class="form-control justify-content-md-center"
            id="domain"
            name="domain"
            placeholder="Enter domain"
          />
          <label for="min_range" class="d-flex justify-content-center">Domain</label>
          <input
            type="text"
            class="form-control justify-content-md-center"
            id="minrange"
            name="minrange"
            placeholder="Enter port start"
          />
          <label for="max_range" class="d-flex justify-content-center">Domain</label>
          <input
            type="text"
            class="form-control justify-content-md-center"
            id="maxrange"
            name="maxrange"
            placeholder="Enter port end"
          />

          <button type="submit" class="btn btn-dark text-center justify-content-center">Submit</button>
    
        </div> 
        
    
      </form>
    </div>
    <br>
    <h3 class="text-center">List of open ports</h3>
<br><br>
    <div class="container">
      <table class="table table-responsive table-bordered">
        <thead>
          <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Port Number</th>
          </tr>
        </thead>
        <tbody>
          {%for i in zipped%}
          <tr> 
            <th class="text-center" scope="row">{{i[1]}}</th>
            <td class="text-center">{{i[0]}}</td>
          </tr>
          {%endfor%}
        </tbody>
      
      </table>
    </div>








{% endblock %}